*{
	padding: 0;
	margin: 0;
}
.nav{
	
	height: 90px;
	background: #1ebea5;
	box-sizing: border-box;
    color: white;
    transition: background-color .5s ease;
    width: 100%;
    
    padding-right: 10px;

}
.nav a{
	margin-left: 50px; 
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	position: relative;
	top: -11px;
}	
.v{
	height: 554px;
    margin: 0 auto;
    width: 308px;
    margin-top: 50px;


}
.t{
	margin-left: 200px;
	margin-top: -450px;
	font-family: sans-serif;
	font-weight: normal;
}
.footer{
	border: 2px solid;
	width: 100%
	height: 500px;
	margin-top: 1250px;
	background: black;
}
.bigboxes{
	border: 2px solid;
	width: 708px;
	height: 708px;
	float: left;
	margin-left: 30px;
	margin-top: 435px;
}
