*{
	margin: 0px;
	padding: 0px;
}
.navbar{
	border: 1px solid;
	width: 100%;
	height: 70px;
	background: white;
	position: sticky;
}
.menu{
	text-decoration: none;
	font-family: sans-serif;
	color: #D70F64;
	font-weight: normal;
	margin-left: 1076px;
	margin-top: -39px;
}
.menu a{
	text-decoration: none;
	font-family: sans-serif;
	color: #D70F64;
	font-weight: normal;
	margin-left: 30px;
	
}
/*.nav{
	border: 1px solid;
	width: 300px;
	height: 40px;

}*/
